<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDAutoLayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FFD9F8D1E7CBAFF0064D50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD9FA61E7CBAFF0064D50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFD9FB11E7CBAFF0064D50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
